R1API/Service References/JobsService/JobsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RunJobFromTemplateName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="templateName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="computerNames" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="shareNames" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pids" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="processNames" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sendFileOptions" type="tns:ArrayOfJobOptionsOperationsAgentRemediationSendFile" />
            <s:element minOccurs="0" maxOccurs="1" name="executeOptions" type="tns:ArrayOfJobOptionsOperationsAgentRemediationExecute" />
            <s:element minOccurs="0" maxOccurs="1" name="eraseOptions" type="tns:ArrayOfJobOptionsOperationsAgentRemediationErase" />
            <s:element minOccurs="0" maxOccurs="1" name="computerSearchString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shareSearchString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="moduleId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="thirdPartyJobId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="integrationInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfJobOptionsOperationsAgentRemediationSendFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="JobOptionsOperationsAgentRemediationSendFile" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FileToSend" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RemotePath" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="IsRelative" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="OverwriteIfExists" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfJobOptionsOperationsAgentRemediationExecute">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="JobOptionsOperationsAgentRemediationExecute" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Executable" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Arguments" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfJobOptionsOperationsAgentRemediationErase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="JobOptionsOperationsAgentRemediationErase" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RemotePath" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="IsRelative" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Wipe" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="RunJobFromTemplateNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunJobFromTemplateNameResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunJobTemplateFromOptionsXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="optionsXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunJobTemplateFromOptionsXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunJobTemplateFromOptionsXmlResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RunJobFromTemplateNameSoapIn">
    <wsdl:part name="parameters" element="tns:RunJobFromTemplateName" />
  </wsdl:message>
  <wsdl:message name="RunJobFromTemplateNameSoapOut">
    <wsdl:part name="parameters" element="tns:RunJobFromTemplateNameResponse" />
  </wsdl:message>
  <wsdl:message name="RunJobTemplateFromOptionsXmlSoapIn">
    <wsdl:part name="parameters" element="tns:RunJobTemplateFromOptionsXml" />
  </wsdl:message>
  <wsdl:message name="RunJobTemplateFromOptionsXmlSoapOut">
    <wsdl:part name="parameters" element="tns:RunJobTemplateFromOptionsXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="JobsServiceSoap">
    <wsdl:operation name="RunJobFromTemplateName">
      <wsdl:input message="tns:RunJobFromTemplateNameSoapIn" />
      <wsdl:output message="tns:RunJobFromTemplateNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunJobTemplateFromOptionsXml">
      <wsdl:input message="tns:RunJobTemplateFromOptionsXmlSoapIn" />
      <wsdl:output message="tns:RunJobTemplateFromOptionsXmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JobsServiceSoap" type="tns:JobsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunJobFromTemplateName">
      <soap:operation soapAction="http://tempuri.org/RunJobFromTemplateName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunJobTemplateFromOptionsXml">
      <soap:operation soapAction="http://tempuri.org/RunJobTemplateFromOptionsXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JobsServiceSoap12" type="tns:JobsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunJobFromTemplateName">
      <soap12:operation soapAction="http://tempuri.org/RunJobFromTemplateName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunJobTemplateFromOptionsXml">
      <soap12:operation soapAction="http://tempuri.org/RunJobTemplateFromOptionsXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobsService">
    <wsdl:port name="JobsServiceSoap" binding="tns:JobsServiceSoap">
      <soap:address location="https://server/adg.map.web/services/api/JobsService.asmx" />
    </wsdl:port>
    <wsdl:port name="JobsServiceSoap12" binding="tns:JobsServiceSoap12">
      <soap12:address location="https://server/adg.map.web/services/api/JobsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>